<div class="container">
    <div class="table-container">
        <div style="height: 500px; width: 100%;">
            <ngx-datatable class="material" [rows]="actividades" [columns]="displayedColumns">
                <ngx-datatable-column name="Nombre" prop="nombre"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha Creación" prop="fechaCracion"></ngx-datatable-column>
                <ngx-datatable-column name="Detalle de Actividad" prop="actividad"></ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>