.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.7);
  }
  
  .table-container {
    max-width: 90%;
    width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  @media only screen and (max-width: 768px) {
    .table-container {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .table-container {
      width: 100%;
      border-radius: 0;
    }
  }
  