<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>REGISTRAR USUARIO</h3>

                    <form class="mt-4" [formGroup]="form" (ngSubmit)="register()">
                        <div class="row">
                            <div class="col">
                                <input type="text" id="nombre" class="form-control form-control-lg" formControlName="nombre"
                                    placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="apellido"
                                    placeholder="Apellido">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="email"
                                    placeholder="Correo electrónico">
                            </div>
                            <mat-form-field appearance="fill">
                                <mat-label>Fecha de Nacimiento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento"
                                    placeholder="Fecha de Nacimiento">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="telefono"
                                    placeholder="Teléfono">
                            </div>
                            <div class="col form-control form-control-lg">
                                <mat-form-field appearance="fill">
                                    <mat-label>Pais de Residencia</mat-label>
                                    <mat-select formControlName="pais" name="pais">
                                        <mat-option *ngFor="let pais of paises" [value]="pais.codigo">
                                            {{pais.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col"> ¿Desea recibir información y actualizaciones?
                                <input type="checkbox" class="form-control form-control-lg" formControlName="contacto">
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg">CONFIRMAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>