<body>
    <div class="container">
      <h1>Registro de usuarios</h1>
      <form [formGroup]="form" (ngSubmit)="register()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
          <mat-error *ngIf="form.get('nombre')?.invalid">El nombre es requerido y solo puede contener letras.</mat-error>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" class="form-control" id="apellido" formControlName="apellido">
          <mat-error *ngIf="form.get('apellido')?.invalid">El apellido es requerido y solo puede contener letras.</mat-error>
        </div>
        <div class="form-group">
          <label for="fechaNacimiento">Fecha de nacimiento:</label>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
            <mat-error *ngIf="form.get('fechaNacimiento')?.invalid">La fecha de nacimiento es requerida.</mat-error>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="text" class="form-control" id="telefono" formControlName="telefono">
          <mat-error *ngIf="form.get('telefono')?.invalid">El telefono solo puede contener números.</mat-error>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <mat-error *ngIf="form.get('email')?.invalid">El email es requerido y debe tener un formato valido ('x@dom.com')</mat-error>
        </div>
        <div class="form-group">
          <label for="paisResidencia">País de residencia:</label>
          <mat-select class="form-control" id="paisResidencia" formControlName="pais">
            <mat-option *ngFor="let pais of paises" [value]="pais.codigo">
                {{pais.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('paisResidencia')?.invalid">El pais de residencia es requerido</mat-error>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="aceptaInformacion" formControlName="contacto">
          <label class="form-check-label" for="aceptaInformacion">Desea recibir información</label>
        </div>
        <button type="submit" class="btn btn-primary">Registrar usuario</button>
      </form>
    </div>